*.csv#
*.suo
.svn/
.projector/
BatchNormFinder/
progress/
*.iobj
*.ipdb
*.lib
*.exp
*.exe
*.bin
Worker/
compare/
SimpleSimulation/results/original/
SimpleSimulation/results/
tex/
3dPlot/data/
3dPlot/config/
config/
*.png
*.tex
*.ods
*.svg
*.csv
*.7z
*.pdf
/NormFinder/
/MeasurementMerger/.vs/
bin/
/MeasurementMerger/input/
/MeasurementMerger/MeasurementMerger.csproj.user
obj/
*.xml
/MeasurementMerger/out/
